## Словари

Словари в Python устроены так же. Каждый элемент словаря — пара из ключа и значения:
ключ — то, что мы ищем в словаре. Ключом может быть строка или число;
значение — данные, к которым ведёт этот ключ. В отличие от ключа, значением может быть объект любого типа: не только строка или число, но и, например, список.
Для словарей в Python есть свой тип объекта — dict.

### Создание словаря

Есть несколько правил синтаксиса для создания словаря:
словари записываются в фигурных скобках { };
элементы словаря перечисляются через запятую;
ключ и значение разделяют двоеточием :.

In [3]:
schedule = {                    # элементы словаря заключают в фигурные скобки
    'SU2222': '12.06.23 12:30', # слева от двоеточия — ключ, справа — значение
    'SU1111': '12.06.23 14:05', # каждый элемент отделяется запятой
    'SU0777': '12.06.23 17:00',
    'SU5555': '15.06.23 11:25'
}

In [4]:
print(schedule)

{'SU2222': '12.06.23 12:30', 'SU1111': '12.06.23 14:05', 'SU0777': '12.06.23 17:00', 'SU5555': '15.06.23 11:25'}

In [5]:
schedule = {                    
    'SU2222': '12.06.23 12:30', 
    'SU1111': '12.06.23 14:05', 
    'SU0777': '12.06.23 17:00',
    'SU5555': '15.06.23 11:25'
}

print(schedule['SU2222'])
print(schedule['SU1111'])

12.06.23 12:30
12.06.23 14:05

Если мы заранее не знаем, есть ли такой ключ, то нужно использовать метод get():

In [6]:
schedule = {                    
    'SU2222': '12.06.23 12:30', 
    'SU1111': '12.06.23 14:05', 
    'SU0777': '12.06.23 17:00',
    'SU5555': '15.06.23 11:25'
}

print(schedule.get('DP6831'))

None

### Какие данные может хранить словарь?

Значениями словаря могут быть числа и строки, но не только. Списки тоже можно хранить. Создадим ещё один словарь с рейсами, но для каждого сохраним расписание сразу на несколько лет вперёд. Для этого используем списки.

In [8]:
schedule = {                   
    'SU2222': ['12.06.23 12:30', '12.06.24 18:30', '12.06.25 22:30'], 
    'SU1111': ['12.06.23 14:05', '12.06.24 20:05', '12.06.25 23:05'], 
    'SU0777': ['12.06.23 17:00', '12.06.24 21:00', '12.06.25 21:00'],
    'SU5555': ['15.06.23 11:25', '12.06.24 17:25', '12.06.25 22:25'], 
}

print(schedule['SU2222'])

['12.06.23 12:30', '12.06.24 18:30', '12.06.25 22:30']

А ещё значениями словаря могут быть другие словари. Их называют вложенными.

In [9]:
schedule = {
    'Аэрофлот': {
        'SU2222': '12.06.23 12:30',
        'SU1111': '12.06.23 14:05',
        'SU0777': '12.06.23 17:00',
        'SU5555': '15.06.23 11:25'},
    'Победа': {
        'DP6831': '12.06.23 09:30', 
        'DP6800': '12.06.23 11:05'},
    'Nordwind Airlines': {
        'N40001': '12.06.23 08:15', 
        'N48321': '12.06.23 19:15'}
    }

In [10]:
aeroflot_flights = schedule['Аэрофлот']

print(aeroflot_flights)

{'SU2222': '12.06.23 12:30', 'SU1111': '12.06.23 14:05', 'SU0777': '12.06.23 17:00', 'SU5555': '15.06.23 11:25'}

In [11]:
current_flight = schedule['Аэрофлот']['SU2222']

In [12]:
print(current_flight)

12.06.23 12:30

!!!!!! Ключами словаря не могут стать изменяемые объекты, например списки или словари. Обычно ключами в словаре являются строки или числа, будем придерживаться этого.

### Поиск в словаре

In [14]:
country_capitals = {
    'США': 'Вашингтон',
    'Италия': 'Рим',
    'Англия': 'Лондон'
}

Иногда нам может потребоваться получить набор из всех ключей, которые есть в словаре. Например, найдём и выведем все страны (страна — это ключ), название которых состоит из трёх символов. Для этого воспользуемся методом keys().

In [15]:
all_countries = country_capitals.keys()

for country in all_countries:
    if len(country) == 3:
        print(country)

США

Точно так же мы можем сразу найти и все значения, которые есть в словаре. Найдём все столицы (столица — это значение), название которых состоит из трёх символов. Для этого воспользуемся методом values().

In [16]:
all_capitals = country_capitals.values()

for capital in all_capitals:
    if len(capital) == 3:
        print(capital)

Рим

Словарь отлично подходит для поиска значения по его ключу. Но что, если, наоборот, необходимо найти ключ по его значению?

In [17]:
country_capitals = {
    'США': 'Вашингтон',
    'Италия': 'Рим',
    'Англия': 'Лондон'
}
rome_country = ''

for country in country_capitals.keys(): # keys() вернёт список всех стран
    capital = country_capitals[country] # сохраним столицу текущей страны
    if capital == 'Рим':       # если столица Рим
        rome_country = country # то сохраним страну в переменной rome_country
        break                  # и завершим цикл
                               # если столица не Рим, то продолжаем цикл

print(rome_country)

Италия

А что, если сразу получать эту пару — ключ-значение? Да, так тоже можно! Для этого воспользуемся методом items():

In [18]:
country_capitals = {
    'США': 'Вашингтон',
    'Италия': 'Рим',
    'Англия': 'Лондон'
}

for country, capital in country_capitals.items():
    print(country, capital)

США Вашингтон
Италия Рим
Англия Лондон

### Действия со словарями

Работа со словарями очень похожа на работу со списками. В словарь можно добавлять новые элементы, изменять их и удалять.

In [20]:
country_capitals = {
    'США': 'Вашингтон',
    'Италия': 'Рим',
    'Англия': 'Лондон'
}
country_capitals['Россия'] = 'Москва'

print(country_capitals)

{'США': 'Вашингтон', 'Италия': 'Рим', 'Англия': 'Лондон', 'Россия': 'Москва'}

Если такой ключ уже есть в словаре, то его значение обновится.

In [21]:
country_capitals = {
    'США': 'Вашингтон',
    'Италия': 'Рим',
    'Англия': 'Лондон'
}

country_capitals['США'] = 'Washington'
country_capitals['Италия'] = 'Roma'
country_capitals['Англия'] = 'London'

print(country_capitals)

{'США': 'Washington', 'Италия': 'Roma', 'Англия': 'London'}

Для удаления элемента из словаря можно использовать метод pop(). Он работает так же, как и со списками — удаляет элемент и возвращает значение, которое было удалено.

In [22]:
country_capitals = {
    'США': 'Вашингтон',
    'Италия': 'Рим',
    'Англия': 'Лондон'
}

deleted_capital = country_capitals.pop('Англия')

print(country_capitals)
print(deleted_capital)

{'США': 'Вашингтон', 'Италия': 'Рим'}
Лондон

!!!! КЛЮЧ В СЛОВАРЕ ИЗМЕНИТЬ НЕЛЬЗЯ !!!!!

### Список со словарями

In [24]:
user_info_1 = {
    'ФИО': 'Иван Иваныч',
    'Дата регистрации': '01.01.2021',
    'Дата последней покупки': '05.07.2023',
    'Количество заказов': 123
}

user_info_2 = {
    'ФИО': 'Пётр Васильич',
    'Дата регистрации': '03.06.2020',
    'Дата последней покупки': '20.07.2023',
    'Количество заказов': 20
}

user_info_3 = {
    'ФИО': 'Марья Петровна',
    'Дата регистрации': '05.02.2018',
    'Дата последней покупки': '20.05.2021',
    'Количество заказов': 5
}

Нам поможет список! Вы же помните, что любой тип объекта может стать элементом списка? Словарь не исключение.

In [25]:
users = [user_info_1, user_info_2, user_info_3] #список словарей

Такой способ хранения данных напоминает привычные таблицы. Попробуем найти общее количество заказов от всех пользователей.

In [26]:
orders = 0
for user in users:
        orders += user['Количество заказов']

print(orders)

148

Повторим самое главное:
Словарь состоит из ключа и значения. Значением может быть объект любого типа, а ключом, как правило, строка или число.
Обращение к элементу словаря происходит по его ключу.
В словарь можно добавлять новые элементы и удалять старые.
Для того чтобы перебрать все элементы словаря в цикле, можно использовать метод items().

# ПРАКТИКА

In [28]:
arts_dict = {
    'Крик': 'Мунк Эдвард',
    'Неизвестная': 'Крамской Иван',
    'Итальянский полдень': 'Брюллов Карл',
    'Рожь': 'Шишкин Иван',
    'Звёздная ночь': 'Ван Гог Винсент'
}
    #сохраните словарь

print(arts_dict)

{'Крик': 'Мунк Эдвард', 'Неизвестная': 'Крамской Иван', 'Итальянский полдень': 'Брюллов Карл', 'Рожь': 'Шишкин Иван', 'Звёздная ночь': 'Ван Гог Винсент'}

In [29]:
arts_dict ['Девятый вал'] = 'Айвазовский Иван'

In [30]:
arts_dict

{'Крик': 'Мунк Эдвард',
 'Неизвестная': 'Крамской Иван',
 'Итальянский полдень': 'Брюллов Карл',
 'Рожь': 'Шишкин Иван',
 'Звёздная ночь': 'Ван Гог Винсент',
 'Девятый вал': 'Айвазовский Иван'}

In [31]:
def art_check(art):
    arts_dict = {
        'Звёздная ночь': 'Ван Гог Винсент',
        'Крик': 'Мунк Эдвард',
        'Неизвестная': 'Крамской Иван',
        'Итальянский полдень': 'Брюллов Карл',
        'Рожь': 'Шишкин Иван',
        'Девятый вал': 'Айвазовский Иван'
    }
    #проверьте, есть ли картина art в словаре arts_dict 
    artist = arts_dict.get(art)
    if artist:
        artist = arts_dict[art]
        print(f'Такая картина есть! Автор: {artist}')
    else:
        print(f'К сожалению, такой картины не нашлось.')

art_check('Девятый вал')
art_check('Рожь')
art_check('Среди волн')

Такая картина есть! Автор: Айвазовский Иван
Такая картина есть! Автор: Шишкин Иван
К сожалению, такой картины не нашлось.

In [32]:
arts_dict = {
    'Звёздная ночь': {
        'authour': 'Ван Гог Винсент',
        'year': 1889
    },
    'Крик': {
        'authour': 'Мунк Эдвард',
        'year': 1910
    },
    'Неизвестная': {
        'authour': 'Крамской Иван',
        'year': 1883
    },
    'Итальянский полдень': {
        'authour': 'Брюллов Карл',
        'year': 1827
    },
    'Рожь': {
        'authour': 'Шишкин Иван',
        'year': 1878
    },
    'Девятый вал': {
        'authour': 'Айвазовский Иван',
        'year': 1850
    }
}

year = 2024
# найдите самую старую картину
oldest_art = None
oldest_year = float('inf')

for art_name, art_info in arts_dict.items():
    if art_info['year'] < oldest_year:
        oldest_year = art_info['year']
        oldest_art = art_name




print(oldest_art, oldest_year)

Итальянский полдень 1827

# Что если данных очень много

В Python мы не можем просто так создать таблицу. Но мы можем попробовать сделать что-то похожее на неё. Например, представим, что каждая колонка в нашей таблице — это отдельный список.

In [34]:
incomes = [100, 250, 340, 2000]
expenses = [90, 260, 100, 1800]

In [35]:
incomes = [100, 250, 340, 2000] # Создадим список с доходами
expenses = [90, 260, 100, 1800] # Список с расходами
profits = []

for i in range(len(incomes)): # Пройдёмся в цикле по каждому заказу
    # Для каждого заказа вычтем расходы из доходов
    profits.append(incomes[i] - expenses[i]) 

print(profits)

[10, -10, 240, 200]

In [36]:
negative_profit = [] # Список убыточных заказов

for i in range(len(profits)):
    if profits[i] <= 0: # Если заказ неприбыльный
    # То добавим убыток в список
        negative_profit.append(profits[i])  

print(negative_profit)

[-10]

In [37]:
orders = ['001', '002', '003', '004'] # Список с номерами заказов
incomes = [100, 250, 340, 2000]
expenses = [90, 260, 100, 1800]

negative_profit_orders = []

for i in range(len(incomes)):
    # Если для заказа отрицательная прибыль
    if incomes[i] - expenses[i] < 0: 
        # То сохраним номер заказа
        negative_profit_orders.append(orders[i]) 

print(negative_profit_orders)

['002']

## Как использовать Pandas

In [39]:
import pandas as pd

In [40]:
print(pd.__version__)

2.2.2

Если нужна конкретная версия, то укажите её после двойного знака ==:
pip install pandas==2.0.1

## Типы данных DataFrame и Series

### DataFrame

Датафрейм
Работать с таблицами в Pandas помогает специальная структура — датафрейм (англ. DataFrame). 
Датафрейм состоит из колонок и строк — всё, как в таблице. У колонок есть названия, а у строки — индекс (неформально говоря, номер).

С датафреймом можно работать как с обычной таблицей. Его можно изменять, дополнять и удалять. Например, можно добавить новую колонку или новую строку.

### Series

Серия
Объект датафрейм состоит из объектов типа серия. Если мы обратимся к конкретной колонке или строке датафрейма, то будем работать уже с объектом типа серия.

У серий есть несколько атрибутов, основные — два: название name и тип объектов в ячейках dtype (англ. data type — тип данных).

## Создание и заполнение датафрейма вручную

In [45]:
df = pd.DataFrame()

In [46]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

При создании датафрейма, мы можем указать специальные параметры. Они определяют то, какие данные и каким именно образом будут храниться в датафрейме:
data — содержимое DataFrame;
index — значения индексов в DataFrame;
columns — название колонок в DataFrame.

Чтобы датафреймы были полезны, необходимо, чтобы они хранили какие-то данные

Способы решить эту задачу можно поделить на две группы:
Наполнить данными вручную. Таким же путем мы наполняли списки и словари.
Наполнить данными из файла. Как правило, аналитики работают с данными в файлах формата xlsx (Excel-файл), csv \ tsv или json. Мы можем прочитать данные из файлов и конвертировать их в DataFrame. И всё это, используя только библиотеку pandas.

In [47]:
df1 = pd.DataFrame()
df1['СТРАНА'] = countries
df1['СТОЛИЦА'] = capitals
df1

NameError: name 'countries' is not defined

Всё то же самое можно сделать и без объектов Series, а используя лишь списки. Такой способ тоже правильный и на практике он встречается чаще, так как код выглядит проще:

In [ ]:
df = pd.DataFrame() # Создали датафрейм

df['страна'] = ['Россия', 'США', 'Англия', 'Италия'] # Добавили колонку стран
df['столица'] = ['Москва', 'Вашингтон', 'Лондон', 'Рим'] # Добавили колонку столиц
display(df)

In [ ]:

countries = {'СТРАНА':['Россия', 'США', 'Италия'],'СТОЛИЦА':['Москва', 'Вашингтон', 'Рим']}
df = pd.DataFrame(data = countries)
df

## Заполнение датафрейма на основе списка

Один из способов представить данные в табличном виде — это использовать вложенные списки. Ещё их называют двумерными.

In [ ]:
a_list = [[1, 'a'], [2, 'b'], [3, 'c']] # двумерный список

In [ ]:
import pandas as pd

In [ ]:
data_countries = [['Россия', 'Москва'],
                  ['США', 'Вашингтон'],
                  ['Великобритания', 'Лондон'],
                  ['Италия', 'Рим']]

In [ ]:
df = pd.DataFrame(data=data_countries)

In [ ]:
df

In [ ]:
df = pd.DataFrame(data=data_countries, columns=['страна', 'столица'])
display(df)

Eщё один способ дать названия колонкам — обратиться к атрибуту columns в датафрейме. Этот атрибут хранит названия для колонок в виде списка.

In [ ]:
df = pd.DataFrame(data=data_countries)
df.columns = ['страна', 'столица'] # изменили атрибут columns

print(df.columns)

Если мы пропустим элемент в списке, то в датафрейм запишется пустое значение или None, 
при этом ошибки не будет и программа не остановится:

In [ ]:
data_countries = [['Россия', 'Москва'],
                  ['Вашингтон'], # Пропустили США
                  ['Великобритания', 'Лондон'],
                  ['Италия']] # Пропустили Рим

df = pd.DataFrame(data=data_countries, columns=['страна', 'столица'])
display(df)

## Заполнение датафрейма на основе словаря

In [ ]:
data_countries = {
    # По ключу храним набор значений в колонке
        'cтрана': pd.Series(['Россия', 'США', 'Великобритания', 'Италия']),
        'столица': pd.Series(['Москва', 'Вашингтон', 'Лондон', 'Рим'])
    }

In [ ]:
pd.DataFrame(data=data_countries)
df

Мы использовали Series для хранения значений. Но если мы передадим списки, то Pandas всё равно поймет нас, иногда это даже удобнее:

In [ ]:
data_countries = {
        'cтрана': ['Россия', 'США', 'Великобритания', 'Италия'],
        'столица': ['Москва', 'Вашингтон', 'Лондон', 'Рим'] # Вместо Series обычные списки
    }

pd.DataFrame(data=data_countries) 
df

In [9]:
data_base = {
        'Имя': ['Петя', 'Петя', 'Саша', None],
        'Страница': ['home', 'home', 'catalog', 'cart'],
    'Зарегистрирован': [True, True, True, False],
    'Количество заказов в прошлом': [10, 12, 3, 0] 
    }

df1 = pd.DataFrame(data=data_base) 
df1

    Имя Страница  Зарегистрирован  Количество заказов в прошлом
0  Петя     home             True                            10
1  Петя     home             True                            12
2  Саша  catalog             True                             3
3  None     cart            False                             0

Рассмотрим ещё один способ сохранить данные на основе словаря. Используем список, где каждый элемент — строка таблицы в виде словаря.

In [ ]:
data_countries = [{'страна': 'Россия', 'столица': 'Москва'}, # строка 1
                  {'страна': 'США', 'столица': 'Вашингтон'}, # строка 2
                  {'страна': 'Великобритания', 'столица': 'Лондон'}, # строка 3
                  {'страна': 'Италия', 'столица': 'Рим'}]    # строка 4 

df = pd.DataFrame(data=data_countries)
display(df)

In [ ]:
df2 = pd.DataFrame()
ames = ['Вася', 'Петя', 'Таня', 'Маша']
years = [1996, 2001, 1998, 1997]

df2['имя'] =  names 
df2 ['год рождения'] = years

df2

In [ ]:
import pandas as pd

data = { 'имя': ['Вася', 'Петя', 'Таня','Маша'],
    'год рождения': ['1996','2001','1998','1997']}
df = pd.DataFrame(data = data)# Создайте датафрейм и заполните его данными

df

In [ ]:
data = [{'имя': 'Вася', 'год рождения': '1996'},
        {'имя':'Петя', 'год рождения': '2001'},
        {'имя': 'Таня','год рождения':'1998'},
        {'имя': 'Маша', 'год рождения': '1997'}]
df = pd.DataFrame(data)# Создайте датафрейм и заполните его данными

df

In [ ]:
names = ['Вася', 'Петя', 'Таня', 'Маша']
years = [1996, 2001, 1998, 1997]

df['имя'] =  names 
df['год рождения'] = years

df

In [ ]:
data = [['Вася','1996'],
        ['Петя', '2001'],
        ['Таня', '1998'],
        ['Маша', '1997']]
df = pd.DataFrame(data = data, columns = ['имя', 'год рождения'])# Создайте датафрейм и заполните его данными

df

In [ ]:
data = [['#0001', 'Подушка', 'Idea', '790'],
        ['#0024', 'Сковородка', 'Tofal', '1890'],
        ['#0201', 'Телевизор', 'Samfung', '52900'],
        ['#0142', 'Наушники', 'Sonya', '33400'],
        ['#0032', 'Телефон', 'Pineapple', '96990']] # Создайте датафрейм и наполните его данными
df = pd.DataFrame(data = data, columns = ['product_id','product_name','company_name','price'])
                  
df

## Выгрузка датафрейма из файла

Что такое CSV файл
CSV расшифровывается как Comma-Separated Values или значения, разделённые запятой.

In [ ]:
import pandas as pd

df = pd.read_csv('/Users/olgaa/Downloads/arts.csv') 
#Выведем содержимое датафрейма:

display(df)

In [ ]:
df.dtypes

In [ ]:
df = pd.read_csv('/Users/olgaa/Downloads/arts2.csv', sep ='t') 
#Выведем содержимое датафрейма:

display(df)

In [ ]:
df = pd.read_csv('/Users/olgaa/Downloads/arts.csv')

In [ ]:
df.head(3)

In [ ]:
df.tail(1)

In [ ]:
df.sample() # случайная строка

In [ ]:
df.shape #определим размеры датафрейма

In [ ]:
df.info() #выведем всю важную информацию

Внимательно посмотрим, что получилось в результате:
RangeIndex даёт информацию об индексах: количество строк с индексами и как они распределены. В нашем случае 6 строк, со значениями от 0 до 5.
Data columns указывает на количество колонок. Для каждой колонки мы видим тип данных, которые она хранит Dtype и количество непустых значений Non-Null.
Memory usage говорит о том, какое место занимает датафрейм. В нашем случае это всего 272 байта.

## Фильтрация по столбцам

## Удаление столбцов. Метод .drop()

# удалим из датафрейма music_df столбцы user_id и total_play:
filtered_df = music_df.drop(columns=['user_id','total_play'])

Если необходимо сохранить результат фильтрации в исходном датафрейме, то метод .drop() позволяет это сделать, если указать параметр inplace=True:

# удалим из датафрейма music_df столбцы user_id и total_play:
music_df.drop(columns=['user_id','total_play'], inplace=True)
print(music_df.head())

# импортируйте библиотеку pandas здесь
import pandas as pd
orders = pd.read_csv('/datasets/orders_shop_rel.csv')
print(orders.head(5))
# выведите первые пять строк на экран

# импорт библиотеки pandas и загрузка данных датасета orders_shop_rel.csv:
import pandas as pd
orders = pd.read_csv('/datasets/orders_shop_rel.csv')
orders.drop(columns=['Unnamed: 0'], inplace=True)
print(orders.head(3)) 
# напишите ваш код здесь

# импорт библиотеки pandas и загрузка данных датасета orders_shop_rel.csv:
import pandas as pd

orders = pd.read_csv('/datasets/orders_shop_rel.csv', index_col = 'Unnamed: 0')
print(orders.head(3))

# импорт библиотеки pandas и загрузка данных датасета orders_shop_rel.csv:
import pandas as pd
orders = pd.read_csv('/datasets/orders_shop_rel.csv', index_col='Unnamed: 0')
clients = orders[['first_name', 'last_name', 'email']] 
print(clients.head()) 

# напишите ваш код здесь

# импорт библиотеки pandas и загрузка данных датасета orders_shop_rel.csv:
import pandas as pd
orders = pd.read_csv('/datasets/orders_shop_rel.csv', index_col='Unnamed: 0')

# удалим избыточные столбцы:
orders.drop(columns=['total_amt', 'items_cnt'], inplace=True)# напишите ваш код здесь

print(orders.head())

## Фильтрация по строкам при помощи индексации

Для индексации в pandas существует несколько операторов. Наиболее распространёнными из них являются:
оператор [] — позволяет проводить простую индексацию по целочисленному значению индекса строк или по меткам столбцов;
оператор .loc[] — позволяет проводить индексацию по меткам столбцов и индексов;
оператор .iloc[] — позволяет проводить индексацию по целочисленному индексу столбцов и строк.

import pandas as pd
import numpy as np
orders = pd.read_csv('/datasets/music_df.csv')

In [ ]:
dates = pd.date_range("20130101", periods=6)

dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

In [ ]:
df[:3]

In [ ]:
df.info()

In [ ]:
df[['A', 'C']]

In [ ]:
df[:]

In [ ]:
df[2:]

In [ ]:
sorted_df = df.sort_values(by='C')

In [ ]:
sorted_df

Для сортировки значений мы использовали метод .sort_values() с параметром by='user_id', передающим метки столбцов, по которым проводится сортировка данных. По умолчанию метод проводит сортировку от меньшего значения к большему, поэтому, если есть необходимость провести сортировку в обратном порядке, используется параметр ascending=False.

## Индексация по строкам и столбцам

In [ ]:
df[1:3]['B']

In [ ]:
df = pd.read_csv('https://code.s3.yandex.net/datasets/yandex_music_project.csv')

In [ ]:
df.head()

In [ ]:
df[df['genre'] == 'metal'].head()

Мы задали условие music_df['genre'] == 'metal', которое возвращает для каждой строки значение True, если значение в столбце 'genre' равно metal и значение False, если это условие ложное.

In [ ]:
# Использование сложного логического выражения в качестве логической маски:
df[(df['genre'] == 'metal') | (df['genre'] == 'rock')].head()

In [ ]:
# Сохраним сложное логическое выражение в переменной mask:
mask = (df['genre'] == 'metal') | (df['genre'] == 'rock')

In [ ]:
df[mask].head()

In [ ]:
# Сохраним сложное логическое выражение в переменной mask:
mask = (df['genre'] == 'metal') | (df['genre'] == 'rock')

# Выведем на экран первые 7 строк данных в столбцах artist, genre и track:
df[mask][:7][['artist','genre','Track']]

In [ ]:
import pandas as pd
orders = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_rel.csv').drop(columns='Unnamed: 0')
result = orders.sort_values(by='items_cnt',ascending=False)[:7]
# Сохраните первые 7 строк датафрейма, отсортированного по уменьшению значений items_cnt
# в переменной result здесь:
result

In [ ]:
import pandas as pd
orders = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_rel.csv')
top_10 = orders.sort_values(by='items_cnt',ascending=False)[:10][['first_name','last_name','email']]
top_40 = orders.sort_values(by='items_cnt',ascending=False)[10:51][['first_name','last_name','email']]
# Напишите ваш код здесь

# Выведем на экран результат - первые две строки каждого среза данных:
top_10
top_40.head(2)

In [ ]:
import pandas as pd
orders = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_rel.csv').drop(columns='Unnamed: 0')
mask = (orders['email'] == 'Sunita_Tanaka1992@mail.com')
print(orders[mask].sort_values(by='order_id'))

In [ ]:
import pandas as pd
orders = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_rel.csv').drop(columns='Unnamed: 0')
mask = ((orders['category'] == 'gadget') & (orders['price'] > 100 )) | ((orders['category'] == 'device') & (orders['price'] > 200 ))
print(orders[mask].head(5))

In [ ]:
import pandas as pd
orders = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_rel.csv').drop(columns='Unnamed: 0')

# Задайте сложные логические условия для двух категорий товаров:
mask_for_gadget = ((orders['category'] == 'gadget') & (orders['price'] > 100 )) # напишите инструкцию здесь
mask_for_device = ((orders['category'] == 'device') & (orders['price'] > 200 )) # напишите инструкцию здесь

# Создайте новый срез данных results, который будет содержать необходимые данные:
results = orders[mask_for_device|mask_for_gadget]# напишите инструкцию здесь
print(results.head(5))

## Фильтрация при помощи loc и iloc

In [ ]:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/yandex_music_project.csv')
music_df[:3][['artist','Track']]

## Фильтрация строк с помощью операторов .loc[] и .iloc[]

Основное различие операторов .loc[] и .iloc[] в том, что:
.loc[] выбирает строки и столбцы на основе их метки (названия), списка или интервала меток, а также с использованием логической индексации.
.iloc[] выбирает строки и столбцы на основе их целочисленного индекса (порядкового номера), списка и интервала этих значений.

In [ ]:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/yandex_music_project.csv')

In [ ]:
music_df.head(5)

Приступим к выбору строк с использованием .loc[]. Для этого нужно передать разделённый двоеточием диапазон необходимых значений индексов строк — [1:3]. При этом в отличие от оператора [], при использовании диапазона индексов будут выведены все строки включая последнее значение:

In [ ]:
music_df.loc[1:3]

На этом же примере разберём основную особенность оператора .iloc[]. В логике этого оператора лежит обращение к целочисленному индексу строк или столбцов, то есть к их порядковому номеру. Его использование будет аналогично использованию оператора [] — последнее значение в интервале строк не будет включено в итоговый срез. Поэтому для вывода необходимых строк в оператор .iloc[] следует передать такой интервал индексов — [1:4]:

In [ ]:
music_df.iloc[1:4]

In [ ]:
filtered_df = music_df[music_df['genre'] == 'dance']
filtered_df.reset_index(drop=True, inplace=True)
filtered_df.head()

In [ ]:
filtered_df = music_df[music_df['Day'] == 'Friday']
filtered_df.head(5)

Если мы попробуем использовать .loc[1:3] для выбора строк с метками 14, 15 и 18, то столкнёмся с проблемой:

In [ ]:
filtered_df.loc[1:3]

Это произошло, потому что .loc[] использует диапазон значений меток строк, которые были отфильтрованы, а поскольку этих строк уже нет, то и в результате получаем пустой датафрейм.

После фильтрации данных для оператора .iloc[]  инструкция останется прежней, поскольку оператор будет выводить строки 1, 2, 3 по их порядку:

In [ ]:
filtered_df.iloc[1:4]

Если индексы изменились и необходимо снова использовать целочисленные индексы, в pandas можно использовать метод .reset_index()  — от английского reset - «сбросить» и index - «индекс»:

In [ ]:
filtered_df = filtered_df.reset_index()
filtered_df.head()

Обратите внимание, что при использовании метода .reset_index() в датафрейме появился новый столбец index, содержащий метки старого индекса. Если эти данные не нужны, то при использовании метода .reset_index() можно использовать параметр drop=True, который удалит эти значения.

In [ ]:
# Сохраним срез данных, включающий композиции с жанром dance:
filtered_df = music_df[music_df['genre'] == 'dance']

# Сбросим метки индексов строк с помощью метода .reset_index() 
# и удалим старые значения:
filtered_df = filtered_df.reset_index(drop=True)
filtered_df.head()

омимо срезов строк, можно также использовать списки тех строк, которые необходимо вывести. Например, создадим срез данных, который будет включать в себя строки с индексами 1, 2, 6. Начнем с .loc[]:

In [ ]:
music_df.loc[[1,2,6]]

In [ ]:
music_df.iloc[[1,2,6]]

## Фильтрация столбцов с помощью операторов loc и iloc

In [ ]:
music_df.loc[:, ['artist','genre']].head()

как с помощью операторов .loc[] и .iloc[] проводить фильтрацию столбцов, указав метки или их диапазон. Для этого нужно в начале передать вывод всех строк — для этого достаточно указать двоеточие :, а затем передать список столбцов, которые необходимо вывести.

In [ ]:
music_df.iloc[:, [2,3]].head()

In [ ]:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/yandex_music_project.csv')
music_df.loc[:, 'Track':'artist'].head()

In [ ]:
music_df.iloc[:, 1:3].head()

## Индексация ячейки данных

In [ ]:
# Индексация ячейки с помощью оператора .loc[]:
music_df.loc[3, 'Track']

In [ ]:
#Индексация ячейки с помощью оператора []:
music_df[3:4]['Track']

In [ ]:
import pandas as pd
items = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_items.csv')
items.sort_values(by = 'orders', ascending = False).head(5)

In [ ]:
import pandas as pd
items = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_items.csv')

# Проведем сортировку датафрейма items по снижению значений 'orders':
sorted_df = items.sort_values(by = 'orders', ascending = False)# Напишите ваш код здесь

# Сбросим индекс датафрейма sorted_df:
sorted_df = sorted_df.reset_index(drop=True) # Напишите ваш код здесь

# Создадим срез данных, включающий первые 10 строк столбцов:
# 'category','item_name' и 'orders':
top_10_items =sorted_df.loc[:10,['category','item_name', 'orders']] # Напишите ваш код здесь

# Выведем результат на экран:
top_10_items

In [ ]:
import pandas as pd
items = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_items.csv')
 # напишите инструкцию здесь
mask_for_items = ((items['category'] == 'apparatus') | (items['category'] == 'module' ))

# Создайте новый срез данных results, который будет содержать необходимые данные:
items_sort = items[mask_for_items].sort_values(by = 'price', ascending = False)# напишите инструкцию здесь
result = items_sort.iloc[:50,[0, 1]]
result.head(5)

In [ ]:
import pandas as pd
items = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_items.csv')

# Напишите ваш код здесь

popular_items = items.loc[items['orders']>items['buyers'], 'item_name'] 
print(len(popular_items))

## Фильтрация при помощи loc: логические выражения

Как правило, для создания простых срезов (среза строк или выбора отдельных столбцов) или условий в логических масках используется оператор [], а при более комплексных фильтрациях данных, когда необходимо выделить строки и столбцы согласно различным условиям, используется оператор .loc[].

Оператор .iloc[] используется реже и полезен, когда нужно вывести точно определённое количество строк и столбцов вне зависимости от их названия.

### Логическая индексация в .loc[]

In [ ]:
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/yandex_music_project.csv')
mask = music_df['artist'] == 'Aura' 
music_df.loc[mask, 'artist':'genre']

In [ ]:
mask = (music_df.loc[:,'artist'] == 'Aura') & (music_df.loc[:,'genre'] == 'dance')
music_df.loc[mask, 'Track':'artist']

music_df.loc[(music_df['genre'] == 'latin') & (music_df['total_play'] >= 100), ['artist','track']]

### Фильтрация при помощи query

В pandas есть ещё один способ фильтрации данных с помощью условий — метод .query()  — от английского query — «запрос». 
Метод .query() позволяет проводить фильтрацию данных по заданным условиям в виде одного запроса. Более простой синтаксис написания и совмещения логических условий, чем у операторов [], .iloc[] и loc[], упрощает написание и чтение кода. Благодаря повышенной производительности метод подходит для работы с объёмными данными, состоящими из более десятка тысяч строк.

In [ ]:
dance_df = music_df.query('genre == "dance"')

dance_df.head()

Запрос genre == "dance" аналогичен по смыслу и результату условию music_df['genre'] == 'dance'. Только он выглядит компактнее, поскольку метод .query() уже применяется к определённому датафрейму и при указании названия меток нет необходимости указывать название этого датафрейма.

# Логическая индексация с помощью []:
dance_df = music_df[music_df['genre'] == 'dance']

# Логическая индексация с помощью .loc[]:
dance_df = music_df.loc[music_df['genre'] == 'dance']

# Запрос .query():
dance_df = music_df.query('genre == "dance"')

Обратите внимание, что запрос query() заключен в кавычки: 'genre == "dance"', обычно это одиночные кавычки ''. Если в запросе используются подстроки или любые другие элементы, которые обычно также заключаются в кавычки, то для них используют двойные кавычки "" — в примере выше это "dance". Иными словами, если запрос query() помещён в одиночные кавычки, то все другие кавычки, которые используются в запросе должны быть двойными.

### Комбинирование нескольких условий в одном запросе

# Проведём фильтрацию данных с помощью метода query:
filtered_df = music_df.query('total_play > 200 and genre == "pop"')

print(filtered_df.head())

# Проведём фильтрацию данных с помощью метода query и значений списка:
genres = ['postrock','folkmetal','thrash']
filtered_df = music_df.query('genre == @genres')

print(filtered_df.head())

Аналогичный результат будет при использовании оператора in:

# Проведём фильтрацию данных с помощью метода query и значений списка:
genres = ['postrock','folkmetal','thrash']
filtered_df = music_df.query('genre in @genres')

print(filtered_df.head())

Какое выражение выведет на экран песни стиля jazz  или ambient?


music_df.query('genre == ["dance","latin","techno"]')

Тоже правильный ответ
music_df.query('genre != ["dance","latin","techno"]')
Оператор != выберет строки, которые не содержат одно из значений из списка.

Неправильный ответ
music_df.query('genre not in "dance","latin","techno"')
Значения стилей необходимо передать в виде списка.

Тоже правильный ответ
music_df.query('genre not in ["dance","latin","techno"]')
Оператор not in выберет строки, которые не содержат одно из значений из списка.

### Использование метки индекса строк

In [ ]:
# Проведём фильтрацию данных с помощью метода query:
filtered_df = music_df.query('index < 3')

filtered_df.head()

In [ ]:
# Проведём фильтрацию данных с помощью метода query - 
# сделаем срез строк с индексами 2 и 3:
filtered_df = music_df.query('1 < index < 4')
filtered_df.head()

In [ ]:
# Проведём фильтрацию данных с помощью метода query:
filtered_df = music_df.query('index in [2,46,345]')

filtered_df.head()

### Использование методов pandas

# Проведём фильтрацию данных с помощью метода query:
filtered_df = music_df.query('total_play > total_play.mean()')

filtered_df.head()

### Сочетание query() с оператором [] для фильтрации по столбцам и строкам

# Проведём фильтрацию данных с помощью метода query:
genres = ['postrock','folkmetal','thrash']
filtered_df = music_df.query('genre in @genres')[['artist','track']]

print(filtered_df.head())

### Сравнение метода .query() и оператора .loc[]

In [ ]:
import pandas as pd
buyers = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_buyers.csv')
wo_purchases = buyers.query('orders == 0') 
print(wo_purchases.shape[0]/buyers.shape[0])

In [ ]:
import pandas as pd
buyers = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_buyers.csv')
active_clients = buyers.query('orders >= 3 or items >= 5')[['first_name', 'last_name', 'email']]
print(active_clients.head())

In [ ]:
import pandas as pd
buyers = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_buyers.csv')
averege_price = buyers['total_price']/buyers['items']
active_clients = buyers.query('@averege_price > 300 & items > 1')
active_clients = active_clients.sort_values('total_price', ascending=False)
print(active_clients.head())

In [ ]:
import pandas as pd
buyers = pd.read_csv('https://code.s3.yandex.net/datasets/orders_shop_buyers.csv')
buyers = buyers[buyers['orders']>0]
total_averege_price = buyers['total_price'].mean()
active_clients = buyers.query('total_price > @total_averege_price')
print(active_clients.head())

# Замена данных при подготовке к анализу

## Действия над названиями столбцов

### Атрибут датафрейма columns

In [ ]:
# Используем атрибут columns для вывода названия столбцов music_df:
print(music_df.columns)

In [ ]:
# Выведем название второго по счёту столбца:
print(music_df.columns[1])

In [ ]:
columns = ['Product ID', 'Category', 'Description', 'Price']
data = [[10001, 'Телефоны','Смартфон', 15999],
       [10002, 'Компьютеры', 'Монитор', 17200],
       [10003, 'Кухонная техника', 'Микроволновка', 6350]]

# Создадим новый датафрейм df:
df = pd.DataFrame(data=data, columns=columns)
print(df)

In [ ]:
new_columns = ['product_id','category','description','price']

# Используя атрибут columns, зададим новый индекс столбцов df:
df.columns = new_columns
print(df)

### Метод .rename()

В pandas существует ещё один подход к изменению названия столбцов — метод .rename()  — от английского «переименовать».

Для изменения названия столбцов необходимо использовать аргумент columns метода  .rename(), в котором передаётся словарь, содержащий в качестве ключа исходное название столбца, а в качестве значения — новое:

In [ ]:
# Зададим данные для датафрейма: названия столбцов и содержание строк:
columns = ['Product ID', 'Category', 'Description', 'Price']
data = [[10001, 'Телефоны','Смартфон', 15999],
       [10002, 'Компьютеры', 'Монитор', 17200],
       [10003, 'Кухонная техника', 'Микроволновка', 6350]]

# Создадим новый датафрейм df:
df = pd.DataFrame(data=data, columns=columns)

# Используя метод rename() изменим названия столбцов df:
df = df.rename(columns={'Product ID': 'product_id',
                        'Category': 'category',
                        'Description': 'description',
                        'Price': 'price'})

print(df)

Используя метод .rename(), мы можем изменить названия как всех столбцов, так и только их часть. При этом нет необходимости соблюдать последовательность столбцов, как это было в случае использования атрибута columns. Изменим название столбца 'description' на 'info':

In [ ]:
# Изменим название столбца 'description' на 'info':
# Используя атрибут inplace=True, сохраним изменения в текущем датафрейме:
df.rename(columns={'description': 'info'}, inplace=True)

print(df)

### Перевод названия столбцов в Snake Case

In [ ]:
# Зададим исходную строку для перевода в нижний регистр:
name = 'Column Name'

# Используем метод .lower() для перевода всех символов в нижний регистр:
lower_name = name.lower()
print(lower_name)

In [ ]:
# Используем метод .replace() для замены пробела на нижнее подчёркивание:
lower_name = lower_name.replace(' ', '_')
print(lower_name)

Таким образом, мы можем совместить два метода .lower() и .replace() в одну цепочку действий, что позволит изменить нотацию названия на Snake Case:

In [ ]:
# Зададим исходную строку для перевода в нижний регистр:
name = 'Column Name'

# Используем метод .lower() для перевода всех символов в нижний регистр:
snake_case_name = name.lower().replace(' ', '_')
print(snake_case_name)

In [ ]:
# Зададим данные для датафрейма: названия столбцов и содержание строк:
columns = ['Product ID', 'Category', 'Description', 'Price']
data = [[10001, 'Телефоны','Смартфон', 15999],
       [10002, 'Компьютеры', 'Монитор', 17200],
       [10003, 'Кухонная техника', 'Микроволновка', 6350]]

# Создадим новый датафрейм df:
df = pd.DataFrame(data=data, columns=columns)

# Создадим пустой словарь для записи переименований
rename_dict = {}

# Заполним словарь в цикле
for column in df.columns:
    rename_dict[column] = column.lower().replace(' ', '_')

# Произведём переименование
df.rename(columns=rename_dict, inplace=True)

    
print(df)

### Изменение названия столбцов с помощью аксессора str

In [ ]:
# Зададим данные для датафрейма: названия столбцов и содержание строк:
columns = ['Product ID', 'Category', 'Description', 'Price']
data = [[10001, 'Телефоны','Смартфон', 15999],
       [10002, 'Компьютеры', 'Монитор', 17200],
       [10003, 'Кухонная техника', 'Микроволновка', 6350]]

# Создадим новый датафрейм df:
df = pd.DataFrame(data=data, columns=columns)
    
print(df.columns)

In [ ]:
# Измененим все объекты внутри Index при помощи метода lower():
print(df.columns.str.lower())

In [ ]:
# Зададим данные для датафрейма: названия столбцов и содержание строк:
columns = ['Product ID', 'Category', 'Description', 'Price']
data = [[10001, 'Телефоны','Смартфон', 15999],
       [10002, 'Компьютеры', 'Монитор', 17200],
       [10003, 'Кухонная техника', 'Микроволновка', 6350]]

# Приведем названия столбцов к Snake Case:
df.columns = df.columns.str.lower().str.replace(' ', '_')

print(df.columns)

In [2]:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/music_log.csv')

# Выведем на экран названия всех столбцов с помощью атрибута DataFrame columns:
print(music_df.columns)



# Создание списка новых названий столбцов в snake_case
# ВАЖНО: Замените эти названия на правильные snake_case названия для ваших столбцов!
new_columns = ['user_id', 'total_play', 'artist', 'genre', 'track']

# Присвоение новых названий столбцам
music_df.columns = new_columns

# Вывод названий столбцов (для проверки)
print(music_df.columns)

Index(['  user_id', 'total play', 'Artist', 'genre', 'track'], dtype='object')
Index(['user_id', 'total_play', 'artist', 'genre', 'track'], dtype='object')

In [77]:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/music_log.csv')
new_columns = {
    'user_id': 'user_id',  
    'total play': 'total_play',
    'Artist': 'artist',
    'genre': 'genre',
    'track': 'track'
}


# Переименование столбцов с использованием метода .rename()
music_df = music_df.rename(columns=new_columns)

# Вывод названий столбцов (для проверки)
music_df.columns

Index(['  user_id', 'total_play', 'artist', 'genre', 'track'], dtype='object')

In [4]:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/music_log.csv')

# Для замены названий столбцов используйте цепочку строковых методов:
music_df.columns = music_df.columns.str.strip().str.lower().str.replace(' ', '_')
# напишите ваш код здесь

# Выведем на экран обновленные названия столбцов:
print(music_df.columns)

Index(['user_id', 'total_play', 'artist', 'genre', 'track'], dtype='object')

# Методы замены данных по условию

In [7]:
columns = ['category', 'id', 'group', 'price', 'rating', 'votes']
data = [['Электроника', 1826254, 'Смартфоны', 14297, 4.8, 1536],
        ['Смартфоны', 1832281, 'Смартфоны', 32690, 4.9, 186],
        ['Электроника', 2338051, 'Мобильный телефон', 817, 37, 88],
        ['Электроника', 6757637, 'Умные часы', 1287, 4.5, 121],
        ['Бытовая техника', 1777135, 'Микроволновая печь', 5206, 4.9, 25],
        ['Компьютерная техника', 1774907, 'Ноутбук', 91200, 4.8, 98],
        ['Компьютерная техника', 1879698, 'Планшет', 30290, 4.9, 749]]

# Создадим новый датафрейм df:
df = pd.DataFrame(data=data, columns=columns)
df

               category       id               group  price  rating  votes
0           Электроника  1826254           Смартфоны  14297     4.8   1536
1             Смартфоны  1832281           Смартфоны  32690     4.9    186
2           Электроника  2338051   Мобильный телефон    817    37.0     88
3           Электроника  6757637          Умные часы   1287     4.5    121
4       Бытовая техника  1777135  Микроволновая печь   5206     4.9     25
5  Компьютерная техника  1774907             Ноутбук  91200     4.8     98
6  Компьютерная техника  1879698             Планшет  30290     4.9    749

### Замена данных с помощью метода .replace()

DataFrame.replace(to_replace=None, value=None, inplace=False, limit=None, regex=False)

Метод имеет несколько атрибутов:
to_replace — значение или список значений, которые необходимо заменить.
value — значение или их список, на которые будет проводиться замена.
inplace — логический атрибут, который указывает, изменять датафрейм на месте или нет. По умолчанию стоит значение False — не изменять на месте.
limit — устанавливает максимальное количество значений, которые необходимо заменить в датафрейме. По умолчанию ограничений нет.
regex — логический атрибут, который указывает, являются ли to_replace и value регулярным выражением. В будущих уроках вы познакомитесь с регулярными выражениями подробнее.

In [16]:
df.replace('Электроника', 'electronics', inplace=True)

df

               category       id               group  price  rating  votes
0           electronics  1826254           Смартфоны  14297     4.8   1536
1             Смартфоны  1832281           Смартфоны  32690     4.9    186
2           electronics  2338051   Мобильный телефон    817    37.0     88
3           electronics  6757637          Умные часы   1287     4.5    121
4       Бытовая техника  1777135  Микроволновая печь   5206     4.9     25
5  Компьютерная техника  1774907             Ноутбук  91200     4.8     98
6  Компьютерная техника  1879698             Планшет  30290     4.9    749

In [20]:
df['group'].replace('Смартфоны', 'electronics', inplace=True)
df

/var/folders/70/vrc88x_94pn4w3n7ss3fj_qw0000gn/T/ipykernel_48659/759551664.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['group'].replace('Смартфоны', 'electronics', inplace=True)

               category       id               group  price  rating  votes
0           electronics  1826254         electronics  14297     4.8   1536
1           electronics  1832281         electronics  32690     4.9    186
2           electronics  2338051   Мобильный телефон    817    37.0     88
3           electronics  6757637          Умные часы   1287     4.5    121
4       Бытовая техника  1777135  Микроволновая печь   5206     4.9     25
5  Компьютерная техника  1774907             Ноутбук  91200     4.8     98
6  Компьютерная техника  1879698             Планшет  30290     4.9    749

В методе .replace() для замены значений можно использовать списки. Например, заменим остальные значения категорий на их англоязычные названия. Для этого создадим два списка: один со старым названием old_category, другой — с новым new_category:

In [22]:
# Создадим два списка – один со старым названием категорий, другой – с новым:
old_category = ['Бытовая техника', 'Компьютерная техника']
new_category = ['appliances', 'computers']

# Заменим название категории согласно двум спискам:
df['category'].replace(old_category, new_category, inplace=True)

df

/var/folders/70/vrc88x_94pn4w3n7ss3fj_qw0000gn/T/ipykernel_48659/2460586060.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['category'].replace(old_category, new_category, inplace=True)

      category       id               group  price  rating  votes
0  electronics  1826254         electronics  14297     4.8   1536
1  electronics  1832281         electronics  32690     4.9    186
2  electronics  2338051   Мобильный телефон    817    37.0     88
3  electronics  6757637          Умные часы   1287     4.5    121
4   appliances  1777135  Микроволновая печь   5206     4.9     25
5    computers  1774907             Ноутбук  91200     4.8     98
6    computers  1879698             Планшет  30290     4.9    749

In [24]:
# Создадим словарь для замены значений:
replace_dict = {'Бытовая техника':'appliances',
                'Компьютерная техника':'computers'}

# Заменим название категории согласно словарю:
df['category'].replace(replace_dict, inplace=True)

df

      category       id               group  price  rating  votes
0  electronics  1826254         electronics  14297     4.8   1536
1  electronics  1832281         electronics  32690     4.9    186
2  electronics  2338051   Мобильный телефон    817    37.0     88
3  electronics  6757637          Умные часы   1287     4.5    121
4   appliances  1777135  Микроволновая печь   5206     4.9     25
5    computers  1774907             Ноутбук  91200     4.8     98
6    computers  1879698             Планшет  30290     4.9    749

На промежуточной стадии анализа использовать inplace=True стоит осторожно — чтобы вернуть изменения, придётся перезагрузить все исходные данные и запустить скрипт с начала. В этом случае удобнее сохранять изменение значений в виде нового объекта — датафрейма или серии. Для этого не прописывают в методе атрибут inplace — по умолчанию возможность перезаписи исходных данных отключена (inplace=False). Это удобно, когда стоит задача сохранить исходные данные.

In [26]:
# Создадим список с названием групп товаров для замены названия:
group_list = ['Смартфоны','Умные часы','Планшет','Мобильный телефон']

# Заменим все значения списка group_list на gadgets:
df['new_group'] = df['group'].replace(group_list, 'gadgets')

df

,category,id,group,price,rating,votes,new_group
0,electronics,1826254,electronics,14297,4.8,1536,electronics
1,electronics,1832281,electronics,32690,4.9,186,electronics
2,electronics,2338051,Мобильный телефон,817,37.0,88,gadgets
3,electronics,6757637,Умные часы,1287,4.5,121,gadgets
4,appliances,1777135,Микроволновая печь,5206,4.9,25,Микроволновая печь
5,computers,1774907,Ноутбук,91200,4.8,98,Ноутбук
6,computers,1879698,Планшет,30290,4.9,749,gadgets

Здесь метод .replace() использовался с атрибутом inplace по умолчанию — False. Это позволило в начале скопировать данные с заменой из столбца 'group' в новый столбец 'new_group'.

### Замена данных с помощью индексации

In [29]:
#Для замены обратимся к ячейке с помощью индексации loc[] по id товара:

# Используя индексацию, сделаем срез данных по id товара и поделим значение на 10:
df.loc[df['id'] == 2338051, 'rating'] = df['rating'] / 10

df

,category,id,group,price,rating,votes,new_group
0,electronics,1826254,electronics,14297,4.8,1536,electronics
1,electronics,1832281,electronics,32690,4.9,186,electronics
2,electronics,2338051,Мобильный телефон,817,3.7,88,gadgets
3,electronics,6757637,Умные часы,1287,4.5,121,gadgets
4,appliances,1777135,Микроволновая печь,5206,4.9,25,Микроволновая печь
5,computers,1774907,Ноутбук,91200,4.8,98,Ноутбук
6,computers,1879698,Планшет,30290,4.9,749,gadgets

### Замена данных по условию

In [32]:
# Используя логическую индексацию, проведём замену значений:
df.loc[df['new_group'] != 'gadgets', 'new_group'] = 'other'

df

      category       id               group  price  rating  votes new_group
0  electronics  1826254         electronics  14297     4.8   1536     other
1  electronics  1832281         electronics  32690     4.9    186     other
2  electronics  2338051   Мобильный телефон    817     3.7     88   gadgets
3  electronics  6757637          Умные часы   1287     4.5    121   gadgets
4   appliances  1777135  Микроволновая печь   5206     4.9     25     other
5    computers  1774907             Ноутбук  91200     4.8     98     other
6    computers  1879698             Планшет  30290     4.9    749   gadgets

При замене значений можно использовать более сложные логические выражения, которые включают в себя несколько условий. Например, создадим новый столбец 'is_popular', в котором будет информация о том, является ли товар популярным или нет. Будем считать товар популярным, если количество голосов больше 500 и рейтинг выше 4.7 — тогда значение в столбце 'is_popular' будет True. Если хотя бы одно условие не выполняется, то False.

In [34]:
# Создадим новый столбец 'is_popular' со значением по умолчанию False:
df['is_popular'] = False

# Используя логическую индексацию, найдём популярные товары:
mask = (df['votes'] > 500) & (df['rating'] > 4.7)
df.loc[mask, 'is_popular'] = True

# Выведем на экран часть данных:
df.iloc[:, [1,4,5,6,7]]

        id  rating  votes new_group  is_popular
0  1826254     4.8   1536     other        True
1  1832281     4.9    186     other       False
2  2338051     3.7     88   gadgets       False
3  6757637     4.5    121   gadgets       False
4  1777135     4.9     25     other       False
5  1774907     4.8     98     other       False
6  1879698     4.9    749   gadgets        True

Код выше можно оптимизировать, если при создании прописать логическое условие:

# Создадим новый столбец 'is_popular' с помощью логической маски:
df['is_popular'] = (df['votes'] > 500) & (df['rating'] > 4.7) 
Такой подход хорошо использовать при создании новых столбцов. При изменении ранее созданных данных лучше использовать непосредственно замену данных.

### Использование query() в условии при замене данных

In [39]:
# Создадим новый столбец 'is_popular' со значением по умолчанию False:
df['is_popular'] = False

# Используя запрос query, найдём необходимые товары, результат сохраним в mask:
mask = df.query('votes > 1500 and rating > 4.5').index
df.loc[mask, 'is_popular'] = True

# Выведем на экран часть данных:
df.iloc[:, [1,4,5,6,7]]

        id  rating  votes new_group  is_popular
0  1826254     4.8   1536     other        True
1  1832281     4.9    186     other       False
2  2338051     3.7     88   gadgets       False
3  6757637     4.5    121   gadgets       False
4  1777135     4.9     25     other       False
5  1774907     4.8     98     other       False
6  1879698     4.9    749   gadgets       False

In [41]:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/music_log.csv')

# Проведём предварительную подготовку названия столбцов - трансформируем в нотацию snake_case:
music_df.columns = music_df.columns.str.strip().str.replace(' ', '_').str.lower()

# Заменим значение 'k-pop' на 'kpop' в столбце 'genre':
# напишите ваш код здесь
music_df['genre'].replace('k-pop', 'kpop', inplace=True)
# Сохраним срез данных с песнями жанра kpop в отдельный датафрейм:
kpop = music_df.loc[music_df['genre'] == 'kpop']# напишите ваш код здесь

# Подсчитаем количество строк и выведем их количество на экран:
print(len(kpop))

82

/var/folders/70/vrc88x_94pn4w3n7ss3fj_qw0000gn/T/ipykernel_48659/235142980.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  music_df['genre'].replace('k-pop', 'kpop', inplace=True)

In [43]:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/music_log.csv')
music_df.columns = music_df.columns.str.strip().str.replace(' ', '_').str.lower()

# Создадим словарь с изменяемыми значениями:
new_genres ={
    '''hard'n'heavy''': 'hard_n_heavy',
    'hard-n-heavy': 'hard_n_heavy',
    'türk': 'turkish',
    'türkçe': 'turkish' # напишите ваш код здесь
}
# Проведём замену данных:
# напишите ваш код здесь
music_df['genre'].replace(new_genres, inplace=True)
turkish = music_df.loc[music_df['genre'] == 'turkish']
hard_n_heavy = music_df.loc[music_df['genre'] == 'hard_n_heavy']
# Подсчитаем количество строк и выведем их количество на экран:
print(len(turkish)+len(hard_n_heavy))

164

/var/folders/70/vrc88x_94pn4w3n7ss3fj_qw0000gn/T/ipykernel_48659/1802155085.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  music_df['genre'].replace(new_genres, inplace=True)

In [59]:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/music_log.csv')
music_df.columns = music_df.columns.str.strip().str.replace(' ', '_').str.lower()

# Создадим новый столбец is_popular и зададим его значение через логическую маску:
# напишите ваш код 
music_df['is_popular'] = music_df['total_play'] > 1000
genres = ['folk', 'folklore', 'folkmetal', 'folkrock']
genre_string = f"genre in {genres} and total_play > 300"
music_df.loc[music_df.query(genre_string).index, 'is_popular'] = True
# Сохраним срез данных с популярными песнями в отдельный датафрейм:

popular = music_df.query('is_popular == True').shape[0] # напишите ваш код здесь

# Подсчитаем количество строк и выведем их количество на экран:
print(popular)

110

In [65]:
# Импорт библиотеки pandas и загрузка данных датасета music_log.csv:
import pandas as pd
music_df = pd.read_csv('https://code.s3.yandex.net/datasets/music_log.csv')

# Проведём предварительную подготовку названия столбцов - трансформируем в нотацию snake_case:
music_df.columns = music_df.columns.str.strip().str.replace(' ', '_').str.lower()
avantgarde_mask = (music_df['genre'] == 'avantgarde') & (music_df['total_play'] > 1000)
music_df.loc[avantgarde_mask, 'total_play'] = music_df.loc[avantgarde_mask, 'total_play'] / 10
# Проверим замену данных, выведем количество строк жанра avantgarde с длительностью >1000:
n = music_df.loc[(music_df['genre'] == 'avantgarde') & (music_df['total_play']>1000)].shape[0]
print(n)

0

# Очень важные типы данных в Pandas

In [8]:
# Импортируем библиотеку pandas и загрузим данные:
import pandas as pd
df = pd.read_csv('https://code.s3.yandex.net/datasets/vehicles_us.csv')

# Заменим пропуски:
df['paint_color'] = df['paint_color'].fillna('unknown')
df['is_4wd'] = df['is_4wd'].fillna(0)
df['odometer'] = df['odometer'].fillna(df.groupby(['model_year','model','condition'])['odometer'].transform('median'))
df['cylinders'] = df['cylinders'].fillna(df.groupby(['type'])['cylinders'].transform(lambda x: x.mode()[0]))

# Остальные пропуски удалим:
df = df.dropna()

# Преобразуем тип данных в столбце model_year:
df['model_year'] = df['model_year'].astype('int64')

# Проверим результат:
df['model_year'].dtypes

dtype('int64')

In [10]:
# Преобразуем тип данных в нескольких столбцах:
df[['cylinders','odometer','is_4wd']] = df[['cylinders',
                                            'odometer','is_4wd']].astype('int64')
                                            
# Проверим результат:
df[['cylinders','odometer','is_4wd']].dtypes

cylinders    int64
odometer     int64
is_4wd       int64
dtype: object

In [14]:
# Создадим словарь, содержащий новый тип данных для нужных столбцов:
types_dict = {'model_year': 'int64', 
              'cylinders': 'int64', 
              'odometer': 'int64', 
              'is_4wd': 'bool' 
              }

# Изучим типы данных:
df = df.astype(types_dict)

# Проверим результат:
df.dtypes

price            int64
model_year       int64
model           object
condition       object
cylinders        int64
fuel            object
odometer         int64
transmission    object
type            object
paint_color     object
is_4wd            bool
date_posted     object
days_listed      int64
dtype: object

У метода .astype() есть полезный аргумент errors, который позволяет указать действия метода при обнаружении в данных ошибки при изменении типа данных. Такие ошибки возникают, когда данные нельзя перевести в другой тип, например, строковые данные, содержащие символы, отличные от цифр, нельзя перевести в тип данных int или float. Аргумент errors определяет, как поступить при обнаружении ошибки. По умолчанию аргумент имеет значение raise. В этом случае при обнаружении ошибки в данных при запуске кода будет ошибка, в которой в конце будет указана причина:

In [18]:
# Создадим датафрейм с исходными данными:
df_ = pd.DataFrame({'id': ['0001274', '0001023', '0002484', '0000981', '0001127'],
                   'is_ordered': [1, 1, 0, 'нет данных', 0]})

# Изменим тип данных на численный:
df_['is_ordered_bool'] = df_['is_ordered'].astype('int', errors='ignore')

# Выведем информацию о датафрейме:
df_.dtypes

id                 object
is_ordered         object
is_ordered_bool    object
dtype: object

аргумент errors может иметь значение ignore. В результате столбец не будет преобразован, то есть его просто проигнорируют:

Метод .to_numeric() переведёт данные в численный тип — int64 или float64. При этом метод .to_numeric() имеет аргумент errors, который так же, как и в методе .astype() определяет действия, при обнаружении ошибки, но в отличии от метода .astype() имеет значение coerce, которое будет заменять ошибочное значение на пропуск и изменять тип данных на float64

In [20]:
# Создадим датафрейм с исходными данными:
df_ = pd.DataFrame({'id': ['0001274', '0001023', '0002484', '0000981', '0001127'],
                   'is_ordered': [1, 1, 0, '1', 0]})

# Изменим тип данных на численный:
df_['is_ordered_bool'] = pd.to_numeric(df_['is_ordered'], errors='coerce')

# Выведем информацию о датафрейме:
df_.dtypes

id                 object
is_ordered         object
is_ordered_bool     int64
dtype: object

У метода .to_numeric() также есть параметр downcast, который позволяет уменьшить размер числовых данных путём снижения их битности. Это может быть полезно для оптимизации использования памяти, особенно при работе с большими данными:

In [22]:
# Создадим датафрейм с исходными данными:
df = pd.DataFrame({'id': ['0001274', '0001023', '0002484', '0000981', '0001127'],
                   'orders': [15, 32, 0, '17', 14]})

# Изменим тип данных на целочисленный с понижением размерности данных:
df['id'] = pd.to_numeric(df['id'], downcast='integer')
df['orders'] = pd.to_numeric(df['orders'], downcast='integer')

# Выведем информацию о типах данных:
print(df.dtypes)

# Выведем датафрейм:
print(df)

id        int16
orders     int8
dtype: object
     id  orders
0  1274      15
1  1023      32
2  2484       0
3   981      17
4  1127      14

In [28]:
# Импортируем библиотеку pandas и загрузим данные в переменную df:
import pandas as pd
df = pd.read_csv('https://code.s3.yandex.net/datasets/real_estate_data_n_missing.csv')

# Выведем информацию о типе данных:
print(df.dtypes)

# Выведем первые строки датафрейма:
df.head(5)

total_images              int64
last_price              float64
total_area              float64
first_day_exposition     object
rooms                     int64
ceiling_height          float64
floors_total            float64
living_area             float64
floor                     int64
is_apartment               bool
studio                     bool
open_plan                  bool
kitchen_area            float64
balcony                 float64
locality_name            object
days_exposition         float64
dtype: object

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.000000,8,False,False,False,25.000000,0.0,Санкт-Петербург,-1.0
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,2.65,11.0,18.600000,1,False,False,False,11.000000,2.0,посёлок Шушары,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,2.65,5.0,34.300000,4,False,False,False,8.300000,0.0,Санкт-Петербург,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,2.65,14.0,100.461415,9,False,False,False,20.427708,0.0,Санкт-Петербург,424.0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.000000,13,False,False,False,41.000000,0.0,Санкт-Петербург,121.0

In [ ]:
import pandas as pd
df = pd.read_csv('https://code.s3.yandex.net/datasets/real_estate_data_n_missing.csv')

# Выведем пример данных с типами int64 и float64:
print('Данные с типами int64 и float64:')
print(df.select_dtypes(['int64', 'float64']).head(5)) # напишите ваш код здесь)

# Выведем пример данных с типом object:
print('Данные с типом object:')
print(df.select_dtypes('object').head(5)) # напишите ваш код здесь)

In [32]:
# Преобразуем тип данных в нескольких столбцах:
df[['last_price','floors_total','balcony', 'days_exposition']] = df[['last_price','floors_total','balcony', 'days_exposition']].astype('int64')
                                            
# Проверим результат:
df[['last_price','floors_total','balcony', 'days_exposition']].dtypes

last_price         int64
floors_total       int64
balcony            int64
days_exposition    int64
dtype: object

In [36]:
# Создадим датафрейм с исходными данными:
df = pd.DataFrame({'id': ['0001274', '0001023', '0002484', '0000981', '0001127'],
                   'price': ['739', '540', '1500', 'нет_данных', '439'],
                   'quantity': ['14', '13', 'нет_данных', 'нет_данных', '10']})

# Изменим тип данных на численный:
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')
# Выведем информацию о датафрейме:
df.dtypes

id           object
price       float64
quantity    float64
dtype: object

# ВРЕМЯ

## Метод pandas .to_datetime()

Метод pandas .to_datetime() **для перевода данных в формат даты и времени в базовом синтаксисе устроен так: в качестве аргумента передаются данные, которые нужно преобразовать. Обычно, это серия значения — столбец датафрейма.

In [6]:
import pandas as pd

# Создадим датафрейм с данными:
df = pd.DataFrame({
    'user_id': ['001244', '001037', '001655', '000942', '001244'],
    'start_dt': ['2024-03-28 08:00:00', '2024-03-28 12:30:00', 
                 '2024-03-28 13:15:00', '2024-03-28 17:45:00', 
                 '2024-03-28 19:30:00'],
    'end_dt': ['08:30:00 28.03.2024', '13:00:00 28.03.2024', 
               '12:45:00 28.03.2024', '19:00:00 28.03.2024', '21:00:00 28.03.2024']
})

# Выведем датафрейм на экран:
print(df)

# Проверим типы данных:
print('Проверим типы данных датафрейма df:')
print(df.dtypes)

  user_id             start_dt               end_dt
0  001244  2024-03-28 08:00:00  08:30:00 28.03.2024
1  001037  2024-03-28 12:30:00  13:00:00 28.03.2024
2  001655  2024-03-28 13:15:00  12:45:00 28.03.2024
3  000942  2024-03-28 17:45:00  19:00:00 28.03.2024
4  001244  2024-03-28 19:30:00  21:00:00 28.03.2024
Проверим типы данных датафрейма df:
user_id     object
start_dt    object
end_dt      object
dtype: object

Изменим тип данных с датой и числом на тип datetime64 с помощью метода .to_datetime():

In [8]:
# Изменим тип данных с помощью метода .to_datetime():
df['start_dt'] = pd.to_datetime(df['start_dt'])
df['end_dt'] = pd.to_datetime(df['end_dt'])

# Выведем датафрейм на экран:
print(df)

# Проверим типы данных:
print('Проверим типы данных датафрейма df:')
print(df.dtypes)

  user_id            start_dt              end_dt
0  001244 2024-03-28 08:00:00 2024-03-28 08:30:00
1  001037 2024-03-28 12:30:00 2024-03-28 13:00:00
2  001655 2024-03-28 13:15:00 2024-03-28 12:45:00
3  000942 2024-03-28 17:45:00 2024-03-28 19:00:00
4  001244 2024-03-28 19:30:00 2024-03-28 21:00:00
Проверим типы данных датафрейма df:
user_id             object
start_dt    datetime64[ns]
end_dt      datetime64[ns]
dtype: object

/var/folders/70/vrc88x_94pn4w3n7ss3fj_qw0000gn/T/ipykernel_54653/960292740.py:3: UserWarning: Parsing dates in %H:%M:%S %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['end_dt'] = pd.to_datetime(df['end_dt'])

Обратите внимание, что в коде выше каждый столбец был преобразован отдельно. Методу .to_datetime() нельзя передать несколько столбцов для преобразования, как это можно сделать в методе .astype(). Поэтому для преобразования нескольких столбцов одновременно можно использовать метод .to_datetime() в связке с методом .apply(), применяя его к необходимому срезу данных:

In [10]:
# Изменим тип данных с помощью метода .to_datetime():
df[['start_dt','end_dt']] = df[['start_dt','end_dt']].apply(pd.to_datetime)

Однако pandas не всегда может определить формат даты и времени, особенно, если день и месяц имеют целочисленное значение меньше 12. Рассмотрим такой пример:

In [12]:
# Создадим датафрейм с данными:
df = pd.DataFrame({
    'user_id': ['001244', '001037', '001655', '000942', '001244'],
    'reg_dt': ['01.03.2024', '02.03.2024', '01.03.2024', 
               '10.03.2024', '11.03.2024']
})

# Выведем датафрейм на экран:
print(df)

# Преобразуем типы данных с датой:
df['reg_dt'] = pd.to_datetime(df['reg_dt'])

# Выведем результ на экран:
print(df)

  user_id      reg_dt
0  001244  01.03.2024
1  001037  02.03.2024
2  001655  01.03.2024
3  000942  10.03.2024
4  001244  11.03.2024
  user_id     reg_dt
0  001244 2024-01-03
1  001037 2024-02-03
2  001655 2024-01-03
3  000942 2024-10-03
4  001244 2024-11-03

В примере выше данные были представлены в виде день, месяц, год. Однако метод .to_datetime() обработал их в иной последовательности: месяц, день, год. В результате данные исказились, а это может привести к непредсказуемым результатам.
Чтобы избежать такой ошибки, в методе .to_datetime() есть параметр format, в котором можно указать, какой формат времени и даты используется. Сравните результат с предыдущим:

In [14]:
# Создадим датафрейм с данными:
df = pd.DataFrame({
    'user_id': ['001244', '001037', '001655', '000942', '001244'],
    'reg_dt': ['01.03.2024', '02.03.2024', '01.03.2024', 
               '10.03.2024', '11.03.2024']
})

# Выведем датафрейм на экран:
print(df)

# Преобразуем типы данных с датой:
df['reg_dt'] = pd.to_datetime(df['reg_dt'], format='%d.%m.%Y')

# Выведем результ на экран:
print(df)

  user_id      reg_dt
0  001244  01.03.2024
1  001037  02.03.2024
2  001655  01.03.2024
3  000942  10.03.2024
4  001244  11.03.2024
  user_id     reg_dt
0  001244 2024-03-01
1  001037 2024-03-02
2  001655 2024-03-01
3  000942 2024-03-10
4  001244 2024-03-11

## Формат данных даты и времени timestamp

Дата и время в формате timestamp  представлены в виде целого числа, которое обычно составляет количество секунд или миллисекунд, прошедших с определённой точки отсчёта. За точку отсчёта берут различные даты. Например, в Unix-системах timestamp представляет собой количество секунд, прошедших с начала эпохи Unix, которая начинается с 1 января 1970 года 00:00:00 (UTC).
Например, дата и время 2024-02-15 12:35:41 в формате timestamp будут записаны как 1707989741, поскольку именно такое количество секунд прошло с 1 января 1970 года 00:00:00 (UTC).


Посмотрим, как перевести дату и время из формата timestamp в формат datetime64. Для этого можно использовать метод pd.to_datetime(), в котором нужно указать атрибут unit='s', если время в формате timestamp округлено до секунды:

In [17]:
# Создадим датафрейм с данными:
df = pd.DataFrame({
    'user_id': ['001244', '001037', '001655', '000942', '001244'],
    'start_ts': [1585382400, 1585396200, 1585398900, 1585410300, 1585416600],     
    'end_ts': [1585384200, 1585398000, 1585399500, 1585412400, 1585422000]})

# Изменим тип данных с помощью метода .to_datetime():
df['start_dt'] = pd.to_datetime(df['start_ts'], unit='s')
df['end_dt'] = pd.to_datetime(df['end_ts'], unit='s')

# Выведем датафрейм на экран:
print(df)

# Проверим типы данных:
print('Проверим типы данных датафрейма df:')
print(df.dtypes)

  user_id    start_ts      end_ts            start_dt              end_dt
0  001244  1585382400  1585384200 2020-03-28 08:00:00 2020-03-28 08:30:00
1  001037  1585396200  1585398000 2020-03-28 11:50:00 2020-03-28 12:20:00
2  001655  1585398900  1585399500 2020-03-28 12:35:00 2020-03-28 12:45:00
3  000942  1585410300  1585412400 2020-03-28 15:45:00 2020-03-28 16:20:00
4  001244  1585416600  1585422000 2020-03-28 17:30:00 2020-03-28 19:00:00
Проверим типы данных датафрейма df:
user_id             object
start_ts             int64
end_ts               int64
start_dt    datetime64[ns]
end_dt      datetime64[ns]
dtype: object

## Время: дополнительные возможности

Чтобы извлечь из данных datetime64 дополнительную информацию, к столбцу с данными применяется акцессор .dt, который позволяет обращаться к каждой строке как к объекту datetime64, и специальный атрибут, выполняющий ту или иную функцию.

In [20]:
# Импортируем библиотеку pandas и загрузим данные:
import pandas as pd
df = pd.read_csv('https://code.s3.yandex.net/datasets/vehicles_us.csv')

# Изменим тип данных столбца date_posted:
df['date_posted'] = pd.to_datetime(df['date_posted'])

# Выделим год публикации объявления:
df['year'] = df['date_posted'].dt.year

# Проверим результат:
print(df[['date_posted','year']].head())

  date_posted  year
0  2018-06-23  2018
1  2018-10-19  2018
2  2019-02-07  2019
3  2019-03-22  2019
4  2019-04-02  2019

Например, выделим год, квартал, номер месяца, номер недели, день:

In [26]:
# Выделим год публикации объявления:
df['year'] = df['date_posted'].dt.year

# Выделим квартал публикации объявления:
df['quarter'] = df['date_posted'].dt.quarter

# Выделим месяц публикации объявления:
df['month'] = df['date_posted'].dt.month



# Выделим день (месяца) публикации объявления:
df['day'] = df['date_posted'].dt.day

# Выделим порядковый номер дня публикации объявления:
df['dayofyear'] = df['date_posted'].dt.dayofyear

# Выделим день недели публикации объявления:
df['dayofweek'] = df['date_posted'].dt.dayofweek

# Выделим название дня недели публикации объявления:
df['day_name'] = df['date_posted'].dt.day_name()

# Проверим результат:
print(df[['date_posted','year','quarter','day',
          'dayofyear','dayofweek','day_name']].head())

  date_posted  year  quarter  day  dayofyear  dayofweek  day_name
0  2018-06-23  2018        2   23        174          5  Saturday
1  2018-10-19  2018        4   19        292          4    Friday
2  2019-02-07  2019        1    7         38          3  Thursday
3  2019-03-22  2019        1   22         81          4    Friday
4  2019-04-02  2019        2    2         92          1   Tuesday

 для выделения номера недели лучше использовать метод isocalendar() — он преобразует дату в датафрейм — с перечислением года, номера недели и дня:

In [28]:
# Проверим результат метода isocalendar():
print(df['date_posted'].dt.isocalendar().head())

   year  week  day
0  2018    25    6
1  2018    42    5
2  2019     6    4
3  2019    12    5
4  2019    14    2

In [30]:
# Выделим номер недели публикации объявления:
df['week'] = df['date_posted'].dt.isocalendar().week

# Проверим результат:
print(df[['date_posted','week']].head())

  date_posted  week
0  2018-06-23    25
1  2018-10-19    42
2  2019-02-07     6
3  2019-03-22    12
4  2019-04-02    14

Обратите внимание, что атрибут .dayofweek возвращает номер дня недели начиная с 0, где 0 — это понедельник, а 6 — воскресенье. Для отображения в более привычном виде можно к результату добавить 1, чтобы 1 соответствовало понедельнику, а 7 — воскресенью.

In [32]:
# Создадим датафрейм с данными:
df = pd.DataFrame({
    'date': ['2024-03-28 08:30:15','2024-03-31 21:25:43']
})

# Изменим тип данных столбца date:
df['date'] = pd.to_datetime(df['date'])

# Выделим час:
df['hour'] = pd.to_datetime(df['date']).dt.hour

# Выделим минуты:
df['minute'] = pd.to_datetime(df['date']).dt.minute

# Выделим секунды:
df['second'] = pd.to_datetime(df['date']).dt.second

# Проверим результат:
print(df)

                 date  hour  minute  second
0 2024-03-28 08:30:15     8      30      15
1 2024-03-31 21:25:43    21      25      43

In [34]:
# Создадим датафрейм с данными:
df = pd.DataFrame({
    'dt': ['2024-03-28 08:30:15','2024-03-31 21:25:43']
})
# Изменим тип данных столбца date:
df['dt'] = pd.to_datetime(df['dt'])

# Выделим только дату:
df['date'] = pd.to_datetime(df['dt']).dt.date

# Выделим только время:
df['time'] = pd.to_datetime(df['dt']).dt.time

# Выделим дату как объект datetime64:
df['date_norm'] = pd.to_datetime(df['dt']).dt.normalize()

# Проверим результат:
print(df)
print(df.dtypes)

                   dt        date      time  date_norm
0 2024-03-28 08:30:15  2024-03-28  08:30:15 2024-03-28
1 2024-03-31 21:25:43  2024-03-31  21:25:43 2024-03-31
dt           datetime64[ns]
date                 object
time                 object
date_norm    datetime64[ns]
dtype: object

Обратите внимание, что при использовании указанных выше атрибутов тип данных будет изменён на object, поскольку эти атрибуты возвращают строковые значения. Если необходимо оставить дату в виде типа datetime64, тогда следует использовать метод .normalize()

Атрибут strftime позволяет выводить дату и время в виде шаблонов в произвольном порядке. В качестве шаблонов используются те же символы, которые мы использовали в параметре format метода .to_datetime(). Например, выделим год и месяц из даты:

In [36]:
# Создадим датафрейм с данными:
df = pd.DataFrame({
    'dt': ['2024-03-28 08:30:15','2024-03-31 21:25:43']
})
# Изменим тип данных столбца date:
df['dt'] = pd.to_datetime(df['dt'])

# Выделим только дату:
df['year_month'] = pd.to_datetime(df['dt']).dt.strftime('%Y-%m')

# Проверим результат:
print(df)

                   dt year_month
0 2024-03-28 08:30:15    2024-03
1 2024-03-31 21:25:43    2024-03

In [38]:
# Создадим датафрейм с данными:
df = pd.DataFrame({
    'dt': ['2024-03-28 08:30:15+03:00','2024-03-31 21:25:43+03:00']
})
# Изменим тип данных столбца date:
df['dt'] = pd.to_datetime(df['dt'])

# Выделим только дату:
df['date'] = pd.to_datetime(df['dt']).dt.strftime('%A, %d %B %Y')

# Выделим только дату:
df['time'] = pd.to_datetime(df['dt'])\
               .dt.strftime('Московское время: %H часов %M минут')

# Проверим результат:
print(df)

                         dt                     date  \
0 2024-03-28 08:30:15+03:00  Thursday, 28 March 2024
1 2024-03-31 21:25:43+03:00    Sunday, 31 March 2024

                                  time
0  Московское время: 08 часов 30 минут
1  Московское время: 21 часов 25 минут

## Часовой пояс и .to_datetime()

Например, дата и время 2024-03-28 00:00:00+03:00 указывают, что событие было совершено в 0 часов 28 марта 2024 года с учётом часового пояса +3 (Europe/Moscow). Чтобы убрать часовой пояс и привести время к UTC, метод .to_datetime() имеет параметр utc=True

In [41]:
# Создадим датафрейм с данными:
df = pd.DataFrame({'dt': ['2024-03-28 00:00:00+03:00']})

# Преобразование столбца dt в формат datetime64 с учетом часового пояса:
df['dt'] = pd.to_datetime(df['dt'], utc=True)

print(df)

                         dt
0 2024-03-27 21:00:00+00:00

Чтобы убрать информацию о часовом поясе, можно использовать метод .tz_localize() с параметром None:

In [43]:
# Создадим датафрейм с данными:
df = pd.DataFrame({'dt': ['2024-03-28 03:00:00+03:00']})

# Преобразование столбца dt в формат datetime64 с учетом часового пояса:
df['dt'] = pd.to_datetime(df['dt']).dt.tz_localize(None)

print(df)

                   dt
0 2024-03-28 03:00:00

## Временные интервалы timedelta64 и метод .to_timedelta()

При вычитании одних даты и времени из других, например, при подсчёте длительности загрузки приложения по формуле «время окончания загрузки - время старта загрузки» образуется разница — интервал времени, который может быть выражен в секундах, минутах, часах, днях. В pandas результат будет представлен в виде данных типа timedelta64:

In [52]:
# Create a DataFrame with data:
df = pd.DataFrame({
    'user_id': ['001244', '001037', '001655', '000942', '001244'],
    'start_dt': ['2024-03-28 08:00:00', '2024-03-28 12:30:00', '2024-03-28 13:15:00', '2024-03-28 17:45:00', '2024-03-28 19:30:00'],
    'end_dt': ['2024-03-28 08:30:00', '2024-03-28 13:13:00', '2024-03-28 12:45:00', '2024-03-28 19:00:13', '2024-03-28 21:00:00']})

# Convert both columns to datetime format
df[['start_dt','end_dt']] = df[['start_dt','end_dt']].apply(pd.to_datetime)

# Calculate session length
df['session_length'] = df['end_dt'] - df['start_dt']

# Display the session length results
df['session_length']

0     0 days 00:30:00
1     0 days 00:43:00
2   -1 days +23:30:00
3     0 days 01:15:13
4     0 days 01:30:00
Name: session_length, dtype: timedelta64[ns]

In [56]:
# Create a DataFrame with data:
df = pd.DataFrame({
    'user_id': ['001244', '001037', '001655', '000942', '001244'],
    'start_dt': ['2024-03-28 08:00:00', '2024-03-28 12:30:00', '2024-03-28 13:15:00', '2024-03-28 17:45:00', '2024-03-28 19:30:00'],
    'end_dt': ['2024-03-28 08:30:00', '2024-03-28 13:13:00', '2024-03-28 12:45:00', '2024-03-28 19:00:13', '2024-03-28 21:00:00']})

# Convert both columns to datetime format
df[['start_dt','end_dt']] = df[['start_dt','end_dt']].apply(pd.to_datetime)

# Calculate session length
df['session_length'] = df['end_dt'] - df['start_dt']

# Display the session length results
df['session_length']

0     0 days 00:30:00
1     0 days 00:43:00
2   -1 days +23:30:00
3     0 days 01:15:13
4     0 days 01:30:00
Name: session_length, dtype: timedelta64[ns]

In [58]:
# Создадим интервал в 5 дней, 13 часов и 10 минут:
interval = pd.to_timedelta('5 days 13:10:00')

print(interval)

5 days 13:10:00

Объекты типа timedelta64 поддерживают арифметические операции, такие как сложение, вычитание и умножение на число. Это позволяет выполнять вычисления с временными интервалами:

In [60]:
# Увеличим интервал в 10 раз:
interval = pd.to_timedelta('5 days 13:10:00') * 10

print(interval)

55 days 11:40:00

In [62]:
# Импортируем библиотеку pandas и загрузим данные:
import pandas as pd
df = pd.read_csv('https://code.s3.yandex.net/datasets/vehicles_us.csv')

# Преобразуем date_posted в тип datetime64:
df['date_posted'] = pd.to_datetime(df['date_posted'])

# Преобразуем days_listed в тип timedelta64:
df['days_listed'] = pd.to_timedelta(df['days_listed'], unit='D')

# Проверим результат:
print(df[['date_posted','days_listed']].head())
print(df[['date_posted','days_listed']].dtypes)

  date_posted days_listed
0  2018-06-23     19 days
1  2018-10-19     50 days
2  2019-02-07     79 days
3  2019-03-22      9 days
4  2019-04-02     28 days
date_posted     datetime64[ns]
days_listed    timedelta64[ns]
dtype: object

In [64]:
# Найдем дату продажи:
df['date_sale'] = df['date_posted'] + df['days_listed']

# Проверим результат:
print(df[['date_posted','days_listed','date_sale']].head())
print(df[['date_posted','days_listed','date_sale']].dtypes)

  date_posted days_listed  date_sale
0  2018-06-23     19 days 2018-07-12
1  2018-10-19     50 days 2018-12-08
2  2019-02-07     79 days 2019-04-27
3  2019-03-22      9 days 2019-03-31
4  2019-04-02     28 days 2019-04-30
date_posted     datetime64[ns]
days_listed    timedelta64[ns]
date_sale       datetime64[ns]
dtype: object

In [70]:
import pandas as pd
df = pd.read_csv('https://code.s3.yandex.net/datasets/real_estate_data_n_missing.csv')

# Преобразуем тип данных столбца first_day_exposition в тип datetime64:
df['first_day_exposition'] = pd.to_datetime(df['first_day_exposition'])

# Проверим тип данных столбца first_day_exposition:
print(f'Тип данных столбца first_day_exposition: {df['first_day_exposition'].dtypes}')

Тип данных столбца first_day_exposition: datetime64[ns]

In [76]:
import pandas as pd
df = pd.read_csv('https://code.s3.yandex.net/datasets/real_estate_data_n_missing.csv')

# Преобразуем тип данных столбца first_day_exposition в тип datetime64:
df['first_day_exposition'] = pd.to_datetime(df['first_day_exposition'])

# Проверим тип данных столбца first_day_exposition:
print('Тип данных столбца first_day_exposition:', df['first_day_exposition'].dtypes)

# Найдём минимальную и максимальную даты публикации объявлений:
min_date = df['first_day_exposition'].min()
max_date = df['first_day_exposition'].max()

# Выведем результат:
print('Минимальная дата публикации объявления:', min_date)
print('Максимальная дата публикации объявления:', max_date)

Тип данных столбца first_day_exposition: datetime64[ns]
Минимальная дата публикации объявления: 2014-11-27 00:00:00
Максимальная дата публикации объявления: 2019-05-03 00:00:00

In [102]:
import pandas as pd

# Convert first_day_exposition column to datetime format
df['first_day_exposition'] = pd.to_datetime(df['first_day_exposition'])

# Create a new date column 'fde_date' from first_day_exposition
# The original code seems to assume fde_date already exists, but we need to create it
df['fde_date'] = df['first_day_exposition'].dt.date

# Extract month and year components from first_day_exposition
df['fde_month'] = df['first_day_exposition'].dt.month  # Month component (1-12)
df['fde_year'] = df['first_day_exposition'].dt.year    # Year component (e.g., 2019)

# Display the distribution of listings by year
print('Количество объявлений по годам')
print(df['fde_year'].value_counts())

top_year = df['fde_year'].value_counts().index[-1]
print(f'Количество объявлений по месяцам для наименее популярного года - {top_year}')
print(df[df['fde_year'] == top_year]['fde_month'].value_counts())

Количество объявлений по годам
fde_year
2018    8486
2017    8161
2019    2871
2016    2745
2015    1166
2014     136
Name: count, dtype: int64
Количество объявлений по месяцам для наименее популярного года - 2014
fde_month
12    116
11     20
Name: count, dtype: int64

In [130]:
import pandas as pd

# Импортируем библиотеку pandas и загрузим данные в переменную df:
df = pd.read_csv('https://code.s3.yandex.net/datasets/real_estate_data_n_missing.csv')

# Преобразуем тип данных столбца first_day_exposition в тип datetime64:
df['first_day_exposition'] = pd.to_datetime(df['first_day_exposition'])

# Найдём последний день активности объявления:
df['last_date'] = df['first_day_exposition'] + pd.to_timedelta(df['days_exposition'], unit='D')

# Выделим название дня недели, когда объявление было снято:
df['last_week_day'] = df['last_date'].dt.day_name()

# Отфильтруем данные по значению -1 в столбце days_exposition
filtered_df = df[df['days_exposition'] != -1]

# Посмотрим на распределение объявлений по дням недели:
result = filtered_df['last_week_day'].value_counts()

print('Распределение объявлений по дням недели:')
print(result)

Распределение объявлений по дням недели:
last_week_day
Tuesday      3837
Monday       3309
Thursday     3076
Friday       3017
Wednesday    3014
Saturday     2263
Sunday       1878
Name: count, dtype: int64

In [132]:
import pandas as pd
df = pd.read_csv('https://code.s3.yandex.net/datasets/real_estate_data_n_missing.csv')

# Преобразуем тип данных столбца first_day_exposition в тип datetime64:
df['first_day_exposition'] = pd.to_datetime(df['first_day_exposition'])

# Создадим датасет с новыми данными:
new_data = pd.DataFrame({'new_ts': {21742: 1509867600, 14226: 1546108070, 
22399: 1598106500, 22883: 1524814700, 20657: 1567715600, 559: 1501114000, 
19955: 1493447600}})

new_data['new_dt'] = pd.to_datetime(new_data['new_ts'], unit='s')

# Заменим данные в столбце first_day_exposition на новые:
df.loc[new_data.index, 'first_day_exposition'] = new_data['new_dt']

# Проверим результат замены данных:
print(df.loc[new_data.index, 'first_day_exposition'])

21742   2017-11-05 07:40:00
14226   2018-12-29 18:27:50
22399   2020-08-22 14:28:20
22883   2018-04-27 07:38:20
20657   2019-09-05 20:33:20
559     2017-07-27 00:06:40
19955   2017-04-29 06:33:20
Name: first_day_exposition, dtype: datetime64[ns]